.contacts
    &__soc
        a
            path
                transition: all 0.3s
            &:hover
                .contacts__soc
                    &-icon
                        fill: #000
                    &-bg
                        fill: #FEFF00
