.demo
    padding-top: 280px
    padding-bottom: 120px
    position: relative
    &-points
        &1
            position: absolute
            top: 250px
            left: 44px
        &2
            position: absolute
            top: 55px
            right: 185px
    .after
        position: absolute
        z-index: -1
        &1
            top: 0
            right: -160px
            background: linear-gradient(0deg, rgba(161, 0, 207, 0.56), rgba(161, 0, 207, 0.56))
            opacity: 0.5
            filter: blur(150px)
            width: 632px
            height: 626px
            z-index: 0
        &2
            top: 620px
            left: -308px
            background: linear-gradient(167.57deg, rgba(81, 253, 151, 0.35) 41.38%, rgba(161, 0, 207, 0.3) 86.98%)
            filter: blur(150px)
            transform: rotate(-180deg)
            width: 637px
            height: 969px
        &3
            top: 0
            right: -283px
            background: linear-gradient(169.74deg, rgba(81, 253, 151, 0.51) 9.78%, rgba(161, 0, 207, 0.4) 61.51%)
            filter: blur(150px)
            transform: rotate(-180deg)
            width: 637px
            height: 969px
    &__title
        max-width: 650px
        margin: 0 auto
        margin-bottom: 30px
        text-align: center
        font-family: 'JetBrains Mono'
        font-weight: 700
        font-size: 45px
        line-height: 110%
        color: #FFFFFF
    &__subtitle
        max-width: 520px
        margin: 0 auto
        margin-bottom: 50px
        text-align: center
        font-weight: 300
        font-size: 20px
        line-height: 160%
        color: #FFFFFF
    form
        width: 323px
        max-width: 100%
        margin: 0 auto
        margin-bottom: 40px
        ::placeholder
            color: inherit
        input
            width: 100%
            height: 59px
            padding-right: 20px
            transition: all 0.3s
            display: block
            margin-bottom: 10px
            border: 0
            font-family: 'Inter'
            border-bottom: 1px solid #FEFF00
            font-weight: 300
            font-size: 18px
            line-height: 147.5%
            letter-spacing: -0.02em
            color: #FFFFFF
            background-color: transparent
            &:hover, &:focus
                background-color: #FEFF00
                color: #000
                padding-left: 20px
            &.errr
                border: 1px solid #FF0000
                padding-right: 50%
                padding-left: 18px
        .input
            &__block
                position: relative
                display: block
            &__err
                position: absolute
                right: 20px
                top: 1px
                height: calc( 100% - 2px )
                z-index: 2
                display: none
                align-items: center
                font-weight: 300
                font-size: 12px
                line-height: 15px
                text-align: right
                padding-left: 10px
                letter-spacing: -0.02em
                color: #FF0000
                img
                    margin-right: 5px
        button
            margin-top: 39px
            font-weight: 600
            width: 100%
            border: 0
            font-size: 18px
            line-height: 22px
            text-transform: uppercase
            color: #000
            background-color: transparent
            text-decoration: none
            padding: 22px 0px
            text-align: center
            position: relative
            &::before
                content: ""
                width: calc(100% - 50px)
                height: 0
                display: block
                position: absolute
                top: 0
                left: 0
                border-bottom: 58px solid #FEFF00
                border-right: 30px solid transparent
                border-left: 0px solid transparent
                transition: all 0.3s
            &::after
                content: ""
                width: calc(100% - 50px)
                height: 0
                display: block
                position: absolute
                bottom: 0
                right: 0
                border-top: 58px solid #FEFF00
                border-right: 0px solid transparent
                border-left: 30px solid transparent
                transition: all 0.3s
            span
                position: relative
                z-index: 2
            &:hover
                &::before
                    left: 20px
                    border-right: 0px solid transparent
                    border-left: 30px solid transparent
                    border-bottom: 58px solid #FEFF00
                &::after
                    right: 20px
                    border-left: 0px solid transparent
                    border-right: 30px solid transparent
                    border-top: 58px solid #FEFF00
    &__small
        max-width: 323px
        margin: 0 auto
        font-weight: 300
        font-size: 12px
        line-height: 15px
        color: #FFFFFF
        a
            color: #FFFFFF
            &:hover
                color: #FEFF00
@media(max-width: 767px)
    .demo
        padding-top: 150px
        form
            input.errr
                border-left: 0
                border-right: 0
                border-top: 0
                padding-left: 0
                &:hover, &:focus
                    padding-left: 10px
@media(max-width: 575px)
    .demo
        padding-top: 116px
        padding-bottom: 70px
        .after
            &1
                width: 400px
                height: 400px
            &3
                width: 400px
                height: 400px
            &2,&4
                width: 500px
                height: 500px
        &__title
            font-size: 30px
            line-height: 115.5%
            margin-bottom: 26px
        &__subtitle
            font-size: 16px
            line-height: 160%
            margin-bottom: 24px
        form
            input
                font-size: 16px
                height: 60px
            .input
                &__err
                    font-size: 10px
                    line-height: 12px
        &__small
            font-size: 12px
            line-height: 15px
        &-points
            &1
                display: none
            &2
                width: 100vw
                right: 0
                img
                    width: 100%
