.demo
    padding-top: 280px
    padding-bottom: 120px
    position: relative
    &-points
        &1
            position: absolute
            top: 250px
            left: 44px
        &2
            position: absolute
            top: 55px
            right: 185px
    .after
        position: absolute
        z-index: -1
        &1
            top: 0
            right: -160px
            background: linear-gradient(0deg, rgba(161, 0, 207, 0.56), rgba(161, 0, 207, 0.56))
            opacity: 0.5
            filter: blur(150px)
            width: 632px
            height: 626px
            z-index: 0
        &2
            top: 620px
            left: -308px
            background: linear-gradient(167.57deg, rgba(81, 253, 151, 0.35) 41.38%, rgba(161, 0, 207, 0.3) 86.98%)
            filter: blur(150px)
            transform: rotate(-180deg)
            width: 637px
            height: 969px
        &3
            top: 0
            right: -283px
            background: linear-gradient(169.74deg, rgba(81, 253, 151, 0.51) 9.78%, rgba(161, 0, 207, 0.4) 61.51%)
            filter: blur(150px)
            transform: rotate(-180deg)
            width: 637px
            height: 969px
    &__title
        max-width: 650px
        margin: 0 auto
        margin-bottom: 30px
        text-align: center
        font-family: 'JetBrains Mono'
        font-weight: 700
        font-size: 45px
        line-height: 110%
        color: #FFFFFF
    &__subtitle
        max-width: 520px
        margin: 0 auto
        margin-bottom: 50px
        text-align: center
        font-weight: 300
        font-size: 20px
        line-height: 160%
        color: #FFFFFF
    form
        width: 323px
        max-width: 100%
        margin: 0 auto
        margin-bottom: 40px
        ::placeholder
            color: inherit
        input
            width: 100%
            height: 59px
            padding-right: 20px
            transition: all 0.3s
            display: block
            margin-bottom: 10px
            border: 0
            font-family: 'Inter'
            border-bottom: 1px solid #FEFF00
            font-weight: 300
            font-size: 18px
            line-height: 147.5%
            letter-spacing: -0.02em
            color: #FFFFFF
            background-color: transparent
            &:hover, &:focus
                background-color: #FEFF00
                color: #000
                padding-left: 20px
            &.errr
                border: 1px solid #FF0000
                padding-right: 50%
                padding-left: 18px
        .input
            &__block
                position: relative
                display: block
            &__err
                position: absolute
                right: 20px
                top: 1px
                height: calc( 100% - 2px )
                z-index: 2
                display: none
                align-items: center
                font-weight: 300
                font-size: 12px
                line-height: 15px
                text-align: right
                padding-left: 10px
                letter-spacing: -0.02em
                color: #FF0000
                img
                    margin-right: 5px
        button
            margin-top: 40px
            width: 100%
            height: 73px
            border: 5px solid #FEFF00
            background-color: #000
            font-family: 'Inter'
            font-weight: 600
            text-transform: uppercase
            font-size: 18px
            line-height: 22px
            color: #FFFFFF
            position: relative
            font-size: 16px
            line-height: 19px
            background-color: transparent
            clip-path: polygon(0% 15%, 0 0, 15% 0%, 79% 0, 83% 7%, 100% 7%, 100% 85%, 100% 100%, 85% 100%, 20% 100%, 15% 91%, 0 91%)
            &:hover
                background-color: #FEFF00
                color: #000
            span:first-child
                height: 0
                position: absolute
                bottom: 0
                left: 0
                width: 48px
                border-bottom: 8px solid #FEFF00
                border-right: 10px solid transparent
                border-left: 0px solid transparent
                transition: all 0.3s
                border: 0
                width: 95px
                height: 30px
                bottom: -24px
                background-color: #FEFF00
                clip-path: polygon(0 0, 45% 0, 71% 31%, 71% 52%, 45% 18%, 0 18%)
            span:nth-child(2)
                height: 0
                position: absolute
                top: 0
                right: 0
                width: 48px
                border-top: 8px solid #FEFF00
                border-left: 10px solid transparent
                border-right: 0px solid transparent
                transition: all 0.3s
                border: 0
                width: 122px
                height: 40px
                top: -8px
                background-color: #FEFF00
                clip-path: polygon(45% 0, 57% 15%, 100% 15%, 100% 31%, 57% 31%, 45% 16%)
    &__small
        max-width: 323px
        margin: 0 auto
        font-weight: 300
        font-size: 12px
        line-height: 15px
        color: #FFFFFF
        a
            color: #FFFFFF
            &:hover
                color: #FEFF00
@media(max-width: 767px)
    .demo
        padding-top: 150px
        form
            input.errr
                border-left: 0
                border-right: 0
                border-top: 0
                padding-left: 0
@media(max-width: 575px)
    .demo
        padding-top: 116px
        padding-bottom: 70px
        .after
            &1
                width: 400px
                height: 400px
            &3
                width: 400px
                height: 400px
            &2,&4
                width: 500px
                height: 500px
        &__title
            font-size: 30px
            line-height: 115.5%
            margin-bottom: 26px
        &__subtitle
            font-size: 16px
            line-height: 160%
            margin-bottom: 24px
        form
            input
                font-size: 16px
                height: 60px
            .input
                &__err
                    font-size: 10px
                    line-height: 12px
            button
                height: 65px
                font-size: 16px
                line-height: 19px
                background-color: transparent
                clip-path: polygon(0% 15%, 0 0, 15% 0%, 79% 0, 83% 8%, 100% 8%, 100% 85%, 100% 100%, 85% 100%, 20% 100%, 15% 90%, 0 90%)
                span
                    &:first-child
                        border: 0
                        width: 95px
                        height: 30px
                        bottom: -24px
                        background-color: #FEFF00
                        clip-path: polygon(0 0, 45% 0, 71% 31%, 71% 52%, 45% 18%, 0 18%)
                        &::before
                            display: none
                    &:nth-child(2)
                        border: 0
                        width: 122px
                        height: 40px
                        top: -8px
                        background-color: #FEFF00
                        clip-path: polygon(0 0, 45% 0, 71% 31%, 71% 52%, 45% 18%, 0 18%)
                        clip-path: polygon(45% 0, 57% 18%, 100% 18%, 100% 31%, 57% 31%, 45% 16%)
                        &::before
                            display: none
        &__small
            font-size: 12px
            line-height: 15px
        &-points
            &1
                display: none
            &2
                width: 100vw
                right: 0
                img
                    width: 100%
@media(max-width: 350px)
    .demo
        form
            button
                height: 65px
                font-size: 16px
                line-height: 19px
                background-color: transparent
                clip-path: polygon(0% 15%, 0 0, 15% 0%, 75% 0, 81% 9%, 100% 9%, 100% 85%, 100% 100%, 85% 100%, 22% 100%, 16% 90%, 0 90%)
                span
                    &:first-child
                        border: 0
                        width: 95px
                        height: 30px
                        bottom: -24px
                        background-color: #FEFF00
                        clip-path: polygon(0 0, 45% 0, 71% 31%, 71% 52%, 45% 18%, 0 18%)
                        &::before
                            display: none
                    &:nth-child(2)
                        border: 0
                        width: 122px
                        height: 40px
                        top: -8px
                        background-color: #FEFF00
                        clip-path: polygon(0 0, 45% 0, 71% 31%, 71% 52%, 45% 18%, 0 18%)
                        clip-path: polygon(45% 0, 57% 18%, 100% 18%, 100% 31%, 57% 31%, 45% 16%)
                        &::before
                            display: none
