.err
    padding-top: 338px
    padding-bottom: 226px
    position: relative
    .after
        &1
            width: 632px
            height: 626px
            background: linear-gradient(0deg, rgba(161, 0, 207, 0.56), rgba(161, 0, 207, 0.56))
            opacity: 0.5
            filter: blur(150px)
            transform: rotate(-180deg)
            position: absolute
            top: -20px
            right: -160px
        &2
            position: absolute
            top: -20px
            right: -283px
            background: linear-gradient(169.74deg, rgba(81, 253, 151, 0.51) 9.78%, rgba(161, 0, 207, 0.4) 61.51%)
            filter: blur(150px)
            transform: rotate(-180deg)
            width: 640px
            height: 969px
    &__img
        position: absolute
        bottom: 00px
        right: 0
        overflow: hidden
        &2
            clip-path: url(#mask0_74_21962)
            width: 754px
            height: 517px
            img
                animation: err 5s infinite linear
        clipPath
                width: 100%
                height: auto
    &__title
        margin-top: 0
        margin-bottom: 10px
        font-family: 'JetBrains Mono'
        font-weight: 700
        font-size: 45px
        line-height: 59px
        text-transform: capitalize
        font-feature-settings: 'zero' on
        color: #FFFFFF
    &__descr
        font-weight: 300
        font-size: 20px
        line-height: 24px
        font-feature-settings: 'zero' on
        margin-bottom: 60px
        color: #FFFFFF
    &__btn
        margin-left: 20px
        margin-top: 0
    mask
        path
    g
        path
            display: none
            // animation: err 5s infinite linear
@media(max-width: 1379px)
    .err
        &__img
            width: 600px

@media(max-width: 1199px)
    .err
        padding-bottom: 350px
        &__descr
            position: relative
            z-index: 2
@media(max-width: 991px)
    .err
        padding-bottom: 540px
        &__img
            bottom: -50px
            width: auto
        &__descr
            margin-bottom: 40px
@media(max-width: 767px)
    .err
        padding-top: 150px
        padding-bottom: 60px
        &__btn
            display: none
        &__img
            overflow: hidden
            position: relative
            margin-right: -20px
            svg
                height: auto
                max-width: 120%
            &::after
                height: 100%
                width: 150%
        &__descr
            margin-bottom: 80px
@media(max-width: 575px)
    .err
        padding-top: 116px
        padding-bottom: 55px
        &__title
            font-size: 30px
            line-height: 115.5%
            margin-bottom: 31px
        &__descr
            font-size: 16px
            line-height: 19px
            margin-bottom: 55px
        &__img
            height: auto
            width: 100%
            margin-right: -20px
            overflow: visible
            bottom: 0
            display: flex
            justify-content: flex-end
            &2
                clip-path: url(#mask0_216_511)
                width: 381px
                height: 195px
                transform: translateX(60px)
@media(max-width: 349px)
    .err
        &__img2
            transform: translateX(90px)
