.container
 width: 1150px
 margin: auto
 &__large
  padding: 0 57px
@media (max-width: 1259px)
 .container
  &__large
   padding: 0
   width: 1150px
   margin: auto
   position: relative
@media (max-width: 1199px)
 .container
  width: 980px
  margin: auto
  &__large
   width: 980px
   margin: auto
@media (max-width: 991px)
 .container
  width: 740px
  margin: auto
  &__large
   width: 740px
   margin: auto
@media (max-width: 767px)
 .container
  width: 550px
  margin: auto
  &__large
   width: 550px
   margin: auto
@media (max-width: 575px)
 .container
  width: 100%
  padding-left: 6.25vw
  padding-right: 6.25vw
  margin: auto
  &__large
   width: 100%
   margin: auto
.section__title
 font-family: 'JetBrains Mono', monospace
 font-weight: 700
 font-size: 45px
 line-height: 50px
 color: #FFFFFF
 margin-top: 0
 margin-bottom: 64px
.after:not(.header .after)
 pointer-events: none
.footer
 padding-top: 49px
 padding-bottom: 69px
 position: relative
 &::after
  content: ""
  width: calc(100% - 170px)
  height: 2px
  position: absolute
  right: 57px
  top: 0
  display: block
  background-color: #FEFF00
 &::before
  content: ""
  width: 41px
  height: 9px
  position: absolute
  left: 57px
  top: -4px
  display: block
  background: url('../img/main/points.svg') center no-repeat
 &__wrap
  display: flex
  align-items: center
  justify-content: space-between
 &__main
  display: flex
  align-items: center
  grid-gap: 40px
 &__polit
  font-size: 18px
  line-height: 22px
  text-decoration: underline
  color: #FFFFFF
  &:hover
   color: #FEFF00
 &__partners
  display: flex
  align-items: center
  grid-gap: 28px
 &__copy
  font-size: 12px
  line-height: 15px
.header
 padding-top: 110px
 position: absolute
 top: 0
 left: 0
 width: 100%
 z-index: 3
 .container__large
  &::after
   content: ""
   width: calc(100% - 170px)
   height: 2px
   position: absolute
   left: 57px
   top: 60px
   display: block
   background-color: #FEFF00
  .after
   content: ""
   width: 41px
   height: 9px
   position: absolute
   right: 57px
   top: 56px
   display: block
   background: url('../img/main/points.svg') center no-repeat
 &__wrap
  display: flex
  justify-content: space-between
  align-items: flex-start
  position: relative
 &__logo
  width: 160px
  text-align: center
  position: absolute
  top: 0
  left: 50%
  margin-left: -80px
 &__menu
  margin: 0
  padding: 0
  list-style-type: none
  display: flex
  align-items: center
  grid-gap: 35px
  ul
   width: 310px
   height: 0
   position: absolute
   top: 100%
   left: 0
   margin: 0
   padding: 0
   list-style-type: none
   background: #1B1A1E
   overflow: hidden
   padding: 0px 50px
   z-index: 3
   transition: all 0.3s
   a
    font-size: 14px
    line-height: 20px
    color: #626161
    text-decoration: none
    display: block
    padding: 15px 0
    span
     display: block
     font-size: 18px
     line-height: 30px
     color: #fff
    &:hover
     padding-left: 20px
     color: #FEFF00
     span
      color: #FEFF00
  & > li
   position: relative
   transition: all 0.3s
   & > a
    display: block
    padding-bottom: 25px
    font-weight: 300
    font-size: 18px
    line-height: 22px
    text-transform: uppercase
    color: #fff
    position: relative
    text-decoration: none
    &:hover
     color: #FEFF00
 &__btn
  font-weight: 600
  font-size: 18px
  line-height: 22px
  text-transform: uppercase
  color: #FFFFFF
  text-decoration: none
  padding: 22px 27px
  position: relative
  &::before
   content: ""
   width: calc(100% - 30px)
   height: 0
   display: block
   position: absolute
   top: 0
   left: 0
   border-bottom: 58px solid #49029E
   border-right: 30px solid transparent
   border-left: 0px solid transparent
   transition: all 0.3s
  &::after
   content: ""
   width: calc(100% - 30px)
   height: 0
   display: block
   position: absolute
   bottom: 0
   right: 0
   border-top: 58px solid #49029E
   border-right: 0px solid transparent
   border-left: 30px solid transparent
   transition: all 0.3s
  span
   position: relative
   z-index: 2
  &:hover
   &::before
    border-right: 0px solid transparent
    border-left: 30px solid transparent
    border-bottom: 58px solid #49029E
   &::after
    border-left: 0px solid transparent
    border-right: 30px solid transparent
    border-top: 58px solid #49029E
@media (min-width: 768px)
 .header__menu
  &>li
   &.header__submenu:hover
    & > a
     padding-left: 23px
     color: #FEFF00
     &::before
      width: 11px
      height: 9px
      position: absolute
      top: 6px
      left: 0
      content: ""
      display: block
      background: url('../img/main/submenu.svg') center no-repeat
    .header__drop
     display: block
     height: auto
     padding: 20px 50px
@media(max-width: 1339px)
 .header__menu
  max-width: 400px
  flex-wrap: wrap
  grid-gap: 15px 35px
  &>li>a
   padding-bottom: 10px
.preloader
 background-color: #000
 display: flex
 justify-content: center
 align-items: center
 position: fixed
 top: 0
 left: 0
 width: 100vw
 height: 100vh
 z-index: 99
 .g1
  animation: fadeInRightt 3s infinite
  path
   animation: fadeInDownn 3s infinite
   &:nth-child(1), &:nth-child(2)
    animation: fadeInUpp 3s infinite
 .g2
  animation: fadeInLeftt 3s infinite
  path
   animation: fadeInDownn 3s infinite
   &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
    animation: fadeInUpp 3s infinite
@media(max-width: 1259px)
 .header
  .container__large
   &::after
    left: 0px
    top: -60px
    width: calc(100% - 60px)
   .after
    right: 0px
    top: -64px
@media(max-width: 1199px)
 .footer
  &__partners, &__main
   grid-gap: 15px
  &__polit
   font-size: 14px
@media (max-width: 991px)
 .header__menu
  max-width: 260px
  grid-gap: 10px 15px
 .footer
  &__partners
   margin-right: 15px
@media (max-width: 767px)
 .footer
  &__wrap
   flex-wrap: wrap
   justify-content: space-between
   grid-gap: 15px
 .header
  padding: 0
  &__menu
   ul
    width: 280px
    padding: 30px
    display: none
    height: auto
  .container__large
   padding: 27px 0
   .after
    animation: none
    top: 15px
    z-index: 2
    height: 40px
   &::after
    width: 100%
    bottom: 0
    top: auto
  &__menu, &__btn
   display: none
  &__logo
   position: static
   margin-left: 0
  &.active
   position: fixed
   .container__large
    .after, .header__logo
     z-index: 11
    .after
     background: url('../img/main/close.svg') center no-repeat
     width: 30px
     height: 30px
     top: 20px
   .header

    &__menu
     display: block
     position: fixed
     top: 0
     left: 0
     width: 100vw
     max-width: 100%
     height: 100%
     background-color: #000
     z-index: 10
     padding: 20px
     padding-top: 100px
 .preloader
  svg
   max-width: 90%
@media (max-width: 575px)
 .footer
  &::before
   display: none
  &::after
   width: calc(100% - 40px)
   right: 20px
  &__polit
   width: 100%
   display: block
   text-align: center
  &__wrap
   grid-gap: 15px 0
  &__main
   flex-wrap: wrap
   justify-content: space-between
  &__copy
   text-align: center
   width: 100%
  &__partners
   width: 100%
   margin-right: 0
   img
    max-width: 45%
 .header
  .container__large
   padding: 27px 20px
   &::after
    width: calc(100% - 40px)
    left: 20px
   .after
    right: 20px
 .section__title
  font-size: 30px
  line-height: 115.5%
  margin-bottom: 47px
