body
    margin: 0
    background: #000000
    font-family: 'Inter', sans-serif
    font-weight: 300
    color: #FFFFFF
    //font-family: 'JetBrains Mono', monospace
*
    box-sizing: border-box
a, button
    cursor: pointer
    transition: all 0.3s
input, button
    font-family: 'Inter', sans-serif
    font-weight: 300
    &:focus
        outline: none
button
    font-weight: 600
.fullpage
    overflow: hidden
@import "interface"
@import "home"
